<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title %></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <%- include ('menu.ejs'); %>
    <nav class="container">
        <div>
    <h4 class="text-center">CRUD  оперции с данными</h4>
    <p class="text-justify">CRUD (сокр. от англ. create, read, update, delete — «создать, прочесть, обновить, удалить») — акроним, обозначающий четыре базовые функции.
            CRUD широко распространенный термин, означающий 4 стандартные операции над любой сущностью (ресурсом):    
            создание, чтение, редактирование (обнавление), удаление.</p>
        </div>
    </nav>
</body>
</html>